.layout-select-content {
  margin: 48px 0 0 0;
  background-color: #EBF0F6;
}

.select-wrapper {
  position: relative;
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  background: linear-gradient(315deg, rgba(172, 193, 254, 0.2) 15%, rgba(225, 210, 253, 0.3), rgba(242, 245, 251, 0.012), rgba(172, 196, 254, 0.25));
  padding-top: 70px;
  padding-left: 178px;


  &-view {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    font-family: PingFang HK-Regular, PingFang HK;

    &-title {
      position: relative;
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px;
      font-weight: 400;
      color: #808080;
    }

    &-content {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-child {
      position: relative;
      width: 256px;
      height: 60px;
      background: #FFFFFF;
      border-radius: 4px;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-weight: 600;
      color: #333333;
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 0 18px;

      &-icon {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }


      &-image {
        position: relative;
        width: 16px;
        height: 16px;
      }

      &-badge {
        position: absolute;
        min-width: 18px;
        min-height: 18px;
        line-height: 1;
        top: 6px;
        right: 0;
        background: #FF3346;
        border-radius: 8px 0 0 8px;
        font-size: 12px;

        font-weight: 400;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-status {
        position: absolute;
        right: 0;
        top: 0;
        height: 18px;
        background: rgba(175, 175, 175, 0.2);
        border-radius: 4px 4px 4px 4px;
        padding: 3px 4px;
        font-size: 12px;
        font-weight: 400;
        color: #AFAFAF;
        line-height: 12px;
      }

      &-text {
        flex: 1;
        z-index: 2;
        position: relative;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
      }
    }

    &-child:hover {
      cursor: pointer;
      box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
    }
  }

  .ant-divider-horizontal {
    border-color: #bfbfbf !important;
  }

  .info-bar {
    position: relative;
    // height: 45px;
    padding: 15px 20px;
    line-height: 20px;
    background: #f8f8f8;

    p {
      font-size: 12px;
      color: #666;
      margin: 0px;
    }

    h3 {
      font-size: 14px;
      color: #111;
      font-weight: 700;
      padding-top: 3px;
      margin: 0px;
    }

    .info-setting {
      margin-left: 15px;
      color: #666;
    }

    .ant-avatar {
      float: left;
      margin-right: 10px;
    }

    .ant-divider-inner-text {
      font-size: 18px;
    }
  }

  .inner-wrapper {
    min-height: 560px;
  }

  .inner-title {
    border-bottom: 1px solid #e5e5e5;
    padding: 8px 0;
  }

  .inner-content {
    display: flex;
    flex-wrap: wrap;
  }

  .inner-userInfo {
    word-break: break-all;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 40px 20px;
    font-size: 14px;
    min-height: 400px;

    .account {
      a.ant-btn {
        padding: 0px 20px;
        line-height: inherit;
      }
    }

    .pwd-form {
      width: 700px;
      margin: 80px auto;
    }
  }
}

.org-list {
  &-item {
    padding: 0 10px;
    min-width: 226px;
    height: 117px;
    display: flex;
    margin: 0 10px 10px 0;
    flex-direction: column;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-top: 3px solid #e5e5e5;

    border-radius: 2px;

    &.action,
    &:hover {
      border-top-color: #ff6e6e;
    }

    .name {
      font-size: 14px;
      height: 16px;
      margin-top: 16px;
      margin-bottom: 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .desc-item {
      color: #999;
      margin-top: 4px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    :nth-child(3n + 1) {
      margin-left: 0;
    }
  }
}

.margin_left {
  margin-left: 20px;
}

.card-action {
  position: relative;
  border: 1px solid #1890ff;
}


.card-action::before {
  content: '';
  position: absolute;
  right: -1px;
  bottom: -1px;
  border: 12px solid #0046FE;
  border-top-color: transparent;
  border-left-color: transparent;
  z-index: 2;
  border-radius: 4px;
}

.card-action::after {
  content: '';
  width: 5px;
  height: 10px;
  position: absolute;
  right: 3px;
  bottom: 4px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(36deg);
  z-index: 2;
}