.cell {
  position: relative;
  display: flex;
  background-color: #fff;
  padding: 20px;
  justify-content: space-between;
}

.cell-left {
  position: relative;
  width: 150px;
  border-right: 1px solid #e8e8e8;
  margin-right: 10px;
}

.catalog-table {
  flex: 1;
  overflow: auto;
}