
.bs-table-list {
  margin-top: 16px;
  
}
.bs-table-toolbar {
  padding: 10px 0;
  .bs-table-toolbar-btn {
    margin-right: 10px;
  }
}

.sc-table .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #edf4ff;
}

.sc-table .ant-pagination .ant-select {
  width: auto !important;
}
